.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeaea;
    font-family: "Nerko One", cursive ;
  }

  .login-container {
    background-color: white ;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(30px);
  }

  .login-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
    color: #4a4a4a;
    font-family: "Nerko One", cursive ;
  }
  
  
  .login-container input[type="text"], 
  .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    color: #181817;
    
  }
  
 
  .login-container button {
    width: 100%;
    padding: 10px 20px;
    background-color: #c56b38;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    transition: transform 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #b0572b;
    transform: scale(1.03);
  }
  
  .login-container label {
    
    color: #3d3b3b;
    margin-bottom: 5px;
    display: block;
  
  }

  .login-container form {
    margin-top: 20px;
  }
  
  .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
    
}

.register-link p {
  font-family: "Outfit", sans-serif !important;
}
.register-link p a {
    color: #0f0f0f !important;
    text-decoration: none !important;
    font-weight: 500;
    font-size: 14.5px;
    margin: 20px 0 15 px;
    
}

.register-link p a:hover {
    text-decoration: underline !important;
}



  @media (max-width: 768px) {
    .login-container {
      padding: 20px;
      max-width: 90%;
    }
  }
